<div class="container">
  <div class="receipt text-center">
    <h1>Your Renting</h1>
    <%= cl_image_tag @car.photo.key, width: "100%" %>
    <div class="receipt-description">
      <p><i class="fas fa-calendar-week"></i> <%= @renting.date %></p>
      <%= link_to(car_path(@car)) do %>
      <p>Your Car: <%= @car.brand %> <%= @car.model %></p>
      <% end %>
    </div>
  </div>




  <div class="display=flex text-center">
    <%= link_to "See all cars", cars_path, class: "btn btn-secondary"%>
    <%= link_to "Back to Homepage", root_path, class: "btn btn-secondary"%>
  </div>
</div>
