<div class="container">
  <div class="receipt text-center">
    <h1>Your Renting</h1>
    <%= cl_image_tag @car.photo.key, width: "100%" %>
    <div class="receipt-description">
      <p>Your renting period is <i class="fas fa-calendar-week"></i> <%= @renting.date %></p>
      <p>Your Car brand: <%= @car.brand %></p>
      <p>Your car model:<%= @car.model %></p>
    </div>
  </div>




  <div class="display=flex text-center">
    <%= link_to "See all cars", cars_path, class: "btn btn-success"%>
    <%= link_to "Back to Homepage", root_path, class: "btn btn-success"%>
  </div>
</div>
