

<div class="container-show">
  <div class="banner-car" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @car.photo.key%>);">
  </div>
  <div class="car-description">
    <div class="car-info">
      <h2><%= @car.brand %> <%= @car.model %></h2>
      <h5> <%= cl_image_tag @car.user.photo.key, class: "avatar" %>   <%= @car.user.first_name.capitalize %> <%= @car.user.last_name.capitalize %></h5>
      <p>Description: <%= @car.description %></p>
      <p><%= @car.seats %> Seater</p>
    </div>
    <% if current_user != @car.user %>
    <%= link_to "Rent this car", new_car_renting_path(@car), class: "btn btn-success rent-button"%>
    <% end %>
  </div>
  <div class="text-center back-button">
    <%= link_to "See all cars", cars_path, class: "btn btn-secondary"%>
  </div>
 </div>
</div>
